<include file="Public:header" />

<div class="wrapper wrapper-content animated fadeInRight" style="min-height: 800px;">
    <div class="row">
        <div class="ibox-title ibox-title-padding">
            <h5 class="line-h34">菜单管理</h5>
            <div class="ibox-tools">
                <a type="button" class="btn btn-w-m btn-primary" href="{:U('SysMenu/addMenu')}" target="_blank">添加</a>
            </div>
        </div>
        <div class="ibox-content">
            <section class="content">
                <table class="table table-bordered">
                    <tbody>
                        <tr>
                            <th style="width: 40px">ID</th>
                            <th>菜单名</th>
                            <th>父菜单</th>
                            <th>控制器</th>
                            <th>操作名</th>
                            <th>是否显示</th>
                            <th>排序</th>
                            <th>是否是系统菜单</th>
                            <th style="width: 180px">操作</th>
                        </tr>
                        <volist name="list" id="val">
                        <tr>
                            <td>{$val.id}</td>
                            <td>{$val.name}</td>
                            <td>{$val.pid}</td>
                            <td>{$val.mod}</td>
                            <td>{$val.act}</td>
                            <td>{$val['display'] == 1 ? '显示' : '不显示'}</td>
                            <td>{$val.sort}</td>
                            <td>{$val['is_sys'] == 1 ? '是' : '否'}</td>
                            <td><a href="{:U('SysMenu/editMenu', array('id' => $val['id']))}">编辑</a>&nbsp;|&nbsp;<a href="javascript:delMenu({$val['id']});">删除</a>&nbsp;|&nbsp;<a href="{:U('SysMenu/addMenu', array('id'=>$val['id']))}">添加子菜单</a></td>
                        </tr>
                        </volist>
                    </tbody>
                </table>
                <input type="hidden" id="posturl" value="{:U('SysMenu/delMenu')}"/>
            </section>
        </div>
    </div>
    <script>
        function delMenu(id){
            if(confirm("是否删除?")){
                var posturl = $('#posturl').val();
                $.post(posturl, {'id' : id}, function(data){
                    $('.bs-example-modal-sm .modal-body').text(data.msg);
                    $('.bs-example-modal-sm').modal();
                    if(data.result == true){
                        $('.bs-example-modal-sm').on('hidden.bs.modal', function (e) {
                            location.reload();
                        })
                    }
                });
            }
        }
    </script>
</div>

<include file="Public:footer" />